name: Build Packages on Alpine

on:
  - push
  - pull_request

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ github.ref }}
        uses: actions/checkout@v4

      - name: Build
        run: |
          devel/downloads/download_packages.sh

          # Don't install llvm
          sed -i '/function install_packages/,/^}/ s/llvm//' devel/scripts/install.sh

          curl -L "$(curl -L https://api.github.com/repos/adonis0147/devel-env/releases/latest |
            sed -n 's|[[:space:]]*"browser_download_url": "\(.*\)\"|\1|p' |
            grep "$(uname -m | sed 's/arm64/aarch64/')")" -o devel/scripts/install_toolchain.sh
          chmod a+x devel/scripts/install_toolchain.sh

          cat >>Dockerfile <<EOF
          FROM alpine:latest

          RUN apk add bash libc6-compat xz

          RUN mkdir /devel-env
          WORKDIR /devel-env
          EOF

          docker build -t packages .
          docker run --rm --mount=type=bind,source="$(pwd)",target=/devel-env packages \
            bash -c 'cd devel/scripts; bash install.sh'
