name: Release

on:
  push:
    tags:
      - '*'

jobs:
  Publish:
    runs-on: ubuntu-latest
    environment: CIRRUS-CI
    env:
      GH_REPO: ${{ github.repository }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
          submodules: true

      - name: Setup uv
        run: |
          export PATH="${HOME}/.local/bin:${PATH}"
          curl -LsSf https://astral.sh/uv/install.sh | bash
          cd .github/cirrus-ci-tools
          uv sync --no-dev

      - name: Cirrus CI Build
        run: |
          source .github/cirrus-ci-tools/.venv/bin/activate

          config='.github/cirrus-ci/build_toolchain.yml'
          urls="$(trigger-cirrus-ci --token ${{ secrets.CIRRUS_CI_TOKEN }} --repository ${{ github.repository }} \
            --branch main --config "${config}" --timeout 240)"

          while read -r url; do
            echo "The artifact url: ${url}"
            curl -L ${url} -o binary.zip
            unzip binary.zip
          done <<<"${urls}"

      - name: Upload
        run: |
          content="$(cat .github/templates/release.md)"

          pushd output >/dev/null
          content="${content/<MD5SUM>/$(md5sum *)}"
          content="${content/<SHA256SUM>/$(sha256sum *)}"
          popd >/dev/null

          echo "${content}" >note.md

          gh release create -t "devel-env ${{ github.ref_name }}" -F note.md ${{ github.ref_name }} output/*
